body {
	color: #191970;
	background: url("https://bostonma.github.io/unit_1/images/asphaltgrass.jpg");
	background-size: cover;
	text-align: center;
	font-family: "Futura", Arial, Sans-Serif;
}
h1 {
	font-size: 55px;
	font-variant: small-caps;
}
h2 {
	color: maroon;
	font-weight: normal;
	font-style: italic;
	font-variant: small-caps;
	font-size: 30px;
}
h3 {
	font-weight: 300;
}
ul {
	text-align: left;
	display: inline-block;
	font-variant: small-caps;
	list-style: circle;
}
hr {
	width: 300px;