img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
a {
  text-decoration: none;
}
#buttons{
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
}
.button {
    background-color: #AAA;
    border-radius: 50%;
    display: inline-block;
    padding: 1.5em;
    height: 300px;
    margin: 1.5em;
    text-align: center;
}
.buttonicon {
    margin: 1em;
    padding: 0;
}
.buttontext {
/*    max-height: 10em;/*I guess this isn't necessary???*/
/*    margin: 0.5em;*/
/*    text-align: center;*/
}