body {
	color: #111;
	background-color: #fafafa;
	margin: 20px;
}
h1 {
	font-family: sans-serif;
	color: blue;
	font-size: 40px;
}
h2 {
	color: violet;
	font-family: sans-serif;
	font-size: 30px;
}
h2 span {
	color: red;
}
p {
	color: green;
	font-size: 20px;
	font-family: sans-serif;
}
nav {
	font-family: sans-serif;
	color: red;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content:" ";
    clear: both;
    height: 0;
}
#pic-columns {
    background-color: #fff;
}
.morepics {
    background-color: #f5f5f5;
    padding: 1%;
    margin: 1%;
    float: left;
    width: 20%;
}
.main-image {
	width: 30%;
	padding: 1%;
    margin: 1%;
}