@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);

body {
	color: #000;
	background: #FFF;
	text-align: center;
	font-family: "Futura", Arial, Sans-Serif;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
}
h1 {
	font-family: "Fredericka the Great", "Futura", Georgia, serif;
	padding-top: 90px;
	font-size: 80px;
	font-weight: 100;
	font-variant: small-caps;
	text-align: left;
	letter-spacing: 0.09em;
}
h2 {
	text-align: center;
	letter-spacing: 0.08em;
	padding-top: 40px;
	padding-bottom: 40px;
	font-weight: 100;
	font-size: 28px;
	line-height: 1.6em;
}
p {
	font-size: 20px;
}
nav {
	font-family: Georgia;
	float: right;
    border-radius: 50px;
    border: 2px;
    border-style: dashed;
}
a {
	color: #F7C111;
}
hr {
	margin-top: 30px;
	margin-bottom: 30px;
	height: 2px;
 	border: none;
  	border-top: 2px dashed #000;
	width: 50%;
}
header {
	background-color: yellow;
}
footer {
	font-family: Georgia;
	margin-bottom: 30px;
}
img {
	position: center;
}
.neighborhoodbox {
	margin-top: 450px;
	text-align: left;
	font-variant: small-caps;
	font-size: 30px;
	color: #F7C111;
}
.neighborhoods {
	list-style-type: none;
}
.navlinks{
	color: #1B6CE8;
}
.menuitems {
	display: inline;
	padding: 4px;
	margin-right: 32px;
	font-size: 17px;
}
.button {
	width: 250px;
	height: 250px;
	background: #888;
	float: left;
	border-radius: 50%;
	text-align: center;
	margin-left: 3.8%
}
#slogan {
	color: #F7C111;
	text-shadow: .03em .03em .03em #333;
	font-style: italic;
	font-variant: small-caps;
	font-size: 45px;
	font-weight: normal;
	text-align: left;
}
