@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Forum);

body {
	color: #FFFFFF;
	background: url("https://bostonma.github.io/unit_3/images/sidewalkblue.jpg");
	background-size: cover;
	text-align: center;
	font-family: "Futura", Arial, Sans-Serif;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
}
h1 {
	font-family: 'Fredericka the Great', Georgia, serif;
	padding-top: 90px;
	font-size: 80px;
	font-weight: 100;
	font-variant: small-caps;
	text-align: left;
	letter-spacing: 0.09em;
	text-shadow: 9px 9px 9px #000;
}
h2 {
	letter-spacing: 0.08em;
	padding-top: 45px;
	font-weight: 100;
	text-align: left;
	font-size: 28px;
	line-height: 1.6em;
}
p {
	font-size: 20px;
}
nav {
	font-family: 'Forum';
	float: right;
    border-radius: 50px;
    border: 2px;
    border-style: dashed;
}
a {
	color: #FFFF00;
}
hr {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 500px;
	height: 3px;
	background-color: #FFFF00;
}
footer {
	font-family: 'Forum';
	font-style: italic; 
}
.hero img {
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}
.neighborhoodbox {
	text-align: right;
	font-variant: small-caps;
	font-size: 30px;
}
.neighborhoods {
	list-style-type: none;
}
.navlinks{
	color: #00FFFF;
}
.menuitems {
	display: inline;
	padding: 5px;
	margin-right: 10px;
	font-size: 17px;
}
#slogan {
	color: #FFFF00;
	font-style: italic;
	font-variant: small-caps;
	font-size: 45px;
	text-align: left;
}
/*#hamburgertoggle {
  	position: relative;
  	width: 30px;
  	height: 26px;
  	margin: 30px auto;
  	input {
   	 	position: absolute;
    	top: -3px;
    	left: -3px;
    	width: 100%;
    	height: 100%;
    	z-index: 1;
    	opacity: 0;
    	cursor: pointer;
    	&:checked {
      		+ span {
        		background: transparent;
        		&:after {
          		transform: rotate(45deg) translate(-1px, -8px);
        		}
        		&:before {
          		transform: rotate(-45deg) translate(-4px, 12px);
        		}
      		}
    	}
  	}
  	span {
    	position: absolute;
	    width: 100%;
	    height: 5px;
	    background: #fff;
	    margin-top: 10px;
    	&:before, &:after {
      		content: "";
			position: absolute;
			width: 100%;
			height: 5px;
			background: #fff;
			top: -9px;
			transition: 0.3s;
    	}
    	&:after {
      		top: 9px;
    	}
}*/