@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Open+Sans|Didact+Gothic|Source+Sans+Pro);

body {
    color: #3b444f;
    font-size: 18px;
    font-family: "Futura", "Trebuchet MS", "Didact Gothic";
    background: -webkit-linear-gradient(#fff, #ffffee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ffffee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ffffee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ffffee); /* Standard syntax (must be last) */;
    background: #ffffee;
}
header {
    background: #fafafa;
    padding-top: 1%;
}
nav {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: .9em;
    padding-left: 30%;
}
nav a {
    color: #000;
    display: inline-block;
    float: left;
	padding: 10px;
	margin-left: 1%;
	margin-right: 1%;
}
nav a:hover{
	background-color: #ddd;
}
footer {
	background: #f1f1f1;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: .9em;
    color: #000;
    text-align: center;
    padding: 1.5%;
}
h1 {
    font-family: "Fredericka the Great", Georgia, serif; 
    font-size: 4em;
    font-weight: 100;
    font-variant: small-caps;
    text-align: center;
    letter-spacing: 0.08em;
    padding-bottom: 1%;

}
h1 a {
	text-decoration: none;
	color: #3b444f;
}
h2 {
    margin: 10px auto 10px 50px;
    text-align: left;
    letter-spacing: 0.08em;
    padding-top: 40px;
    padding-bottom: 30px;
    font-weight: 100;
    font-size: 1.5em;
    line-height: 1.6em;
}
h3 {
    font-family: "Fredericka the Great", Georgia, serif; 
    font-size: 1.5em;
    font-weight: 300; 
    letter-spacing: 0.06em;
    color: #000;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%); 
}
h4 {
    font-size: 25px;
    text-align: center;
}
p {
    font-size: 18px;
    text-align: left;
}
a {
  text-decoration: none;
}
h1 span {
    font-size: 80px;
}
li {
    list-style: none;
}
figcaption {
	font-size: 16px;
}
.heading {
    padding: 10px;
    width: 50%;
    float: left;
    line-height: 0;
}
.wrapper {
    max-width:1000px;
    margin:auto;
}
.header-text {
    padding: 20px 20px 0px 40px;
}
.neighborhood-type {                      
	text-align: center;
	margin-top: 30px;
    margin-bottom: 30px;
    background: #fafafa;
    box-shadow: 1px 1px 10px #999;
}
.neighborhood-button {
    background-color: #4EC2EC;
    border-radius: 30%;
    display:block;
    float: left; 
    height: 200px;
    width: 20%;
    min-width: 185px;
    margin: 2.46%;
    border: 3px solid #fff;
    position:relative;
}
.neighborhood-button:hover {
    background-color: #7FF8EE;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content:" ";
    clear: both;
    height: 0;
}
.neighborhood-tag {
    text-align: left;
    margin: 10px 50px 10px 50px;
    font-size: 1em;
    line-height: 1.5em;
}
.icon-attribution {
    font-size: .6em;
    font-style: italic;
    text-align: right;
    margin-right: 10px;
}
.button {
  margin-top: 15px;
}
.icon-column {
    background-color: #f5f5f5;
    float: right;
    width: 14.6%;
    margin: 1%;
    float: left;
    text-align: center;
}
.icon-image {
    width: 50%;
}
#bt-logo {
	width: 50%;
}
#pig {
	border-radius: 20%;
	width: 10%;
}
#slogan {
	font-family: "Futura", "Source Sans Pro", "Trebuchet MS", "Didact Gothic"; 
    color: orange;
    font-size: 2.25em;
    text-align: left;
    float: right;
	line-height: 1.5em;
    width: 50%;
	margin-right: 5%;
	margin-top:50px;
}
#icon-bar {
	background: white;
	width: 45%;
	float: right;
	margin: 20px;
}
#slogan-with-icon-bar {
	padding-bottom: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
	background: url("https://bostonma.github.io/unit_8/images/AdobeStock_48522385_no_shadow-v2.png");
	opacity: 0.85;
	background-size: 1200px 375px;
	background-repeat: no-repeat;
	background-position: center;
}
#clickablemap {
    background-color: #fff;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 10px #999;
}
#aerialmap {
    width: 100%;
}
#name-field {
    width: 30%;
}
#mail-field {
    width: 30%;
}
#msg-field {
   width: 50%;
   margin-top: 5px;
}
#map {
	width: 500px;
    height: 400px;
    background-color: #CCC;
}
#navigation-bar {
	height: 40px;
	background-color: #1B6CE8;
	background: #f1f1f1;
	box-shadow: 0px 1px 0px #999;
/*	opacity: 0.75;*/
}

