@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Open-Sans|Futura);

* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #000;
	font-size: 20px;
	background: #FFF;
	text-align: center;
	font-family: "Futura", Arial, sans-serif; /*Does Futura have to be in quotes?*/
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
}
header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
aside {
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}
article {
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}
nav {
	font-family: "Open Sans", Arial, sans-serif;
	float: right;
    border-radius: 50px;
    border: 2px;
    border-style: dashed;
    background-color: #E8C66A;
}
footer {
	margin-bottom: 30px;
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
h1 {
	font-family: "Fredericka the Great", Georgia, serif; 
	padding-top: 90px;
	font-size: 90px;
	font-weight: 100;
	font-variant: small-caps;
	text-align: left;
	letter-spacing: 0.09em;
}
span {
	font-size: 100px;
}
h2 {
	text-align: center;
	letter-spacing: 0.08em;
	padding-top: 40px;
	padding-bottom: 40px;
	font-weight: 100;
	font-size: 28px;
	line-height: 1.6em;
}
h3 {
	font-family: "Fredericka the Great", Georgia, serif; 
	font-size: 2em;
	font-weight: 100;
	letter-spacing: 0.06em;
	color: #000;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
p {
	font-size: 20px;
}
hr {
	margin-top: 30px;
	margin-bottom: 30px;
	height: 2px;
 	border: none;
  	border-top: 2px dashed #000;
	width: 50%;
}
a {
  text-decoration: none;
}
h1 span {
	color: #009900;
	font-variant: small-caps;
}
.illustrations {
	max-width: 100%
}
.navlinks{
	color: #1B6CE8;
}
.menuitems {
	display: inline; /*Can these items be centered in the dashed box any better?*/
	padding: 4px;
	margin-right: 32px;
	font-size: 18px;
}
.wrapper {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
.illustration-stripes {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
.button {
    background-color: #4EC2EC;
    border-radius: 30%;
    display:block;
    float: left; /*note: if i didn't also use a clearfix class within the greater section, this pushed my buttons out of the previous sections */  
    height: 300px;
    width: 32.33%;
    margin: .5%;
    border: 3px;
    border-style: solid;
    border-color: #000;
    position:relative;
}
.button:hover {
	background-color: #7FF8EE;
  	border: 3px;
	border-style: solid;
    border-color: orange;
}
.buttontext-oneline { 	
	margin-top: 4.5em;
	padding: 0;
	line-height: 3em;
	text-align: center;
	font-size: 15px;
}
.buttontext-twolines { 	
	margin-top: 3em;
	padding: 0;
	line-height: 3em;
	text-align: center;
	font-size: 15px;
}
.buttontext-fourlines { 	
	margin-top: -2em;
	padding: 0;
	line-height: 3em;
	text-align: center;
	font-size: 15px;
}
.clearfix {
	overflow:hidden;
}
.horizontalrule {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
.neighborhood-subtitle {
	font-size: 50px;
	font-variant: small-caps;
}
#slogan {
	color: #FF8526;
	text-shadow: .03em .03em .03em #333;
	font-family: "Futura", "Arial", sans-serif;
	font-style: italic;
	font-size: 45px;
	font-weight: 100;
	text-align: left;
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
#description {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
#description-image {
	border: 1px blue solid;
	float: left;
	width: 3px;
}
#description-text {
	border: 1px blue solid;
	float: right;
	width: 600px;
	text-align:left;
}
#clickablemap {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
#buttons {						
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
    display: center;
}
#aerialmap {
	border-radius: 50%;
}
